{% extends "base.html" %}
{% block title %}Управление новостями{% endblock %}
{% block hero_title %}Новости{% endblock %}
{% block content %}
<div class="ui-vstack gap-24">
    <a href="{{ url_for('admin_add_news') }}" class="ui-button primary m">+ Добавить новость</a>
    <div class="ui-vstack gap-16">
        {% for item in news %}
        <div class="news-admin-item">
            {% if item.image_url %}
            <img src="{{ url_for('static', filename=item.image_url) }}" class="news-admin-img">
            {% else %}
            <div class="news-admin-img-placeholder">
                <img src="{{ url_for('static', filename='icons/newspaper.svg') }}" width="40" height="40" alt="Новость">
            </div>
            {% endif %}
            <div>
                <div class="ui-heading s">{{ item.title }}</div>
                <div class="ui-text gray">{{ item.content[:100] }}...</div>
                <div class="ui-text xs gray">{{ item.published_at.strftime('%d.%m.%Y') }}</div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}