{% extends "base.html" %}
{% block title %}SQL-запросы{% endblock %}
{% block hero_title %}Выполнить запрос{% endblock %}
{% block content %}
<form method="post" class="ui-vstack gap-16">
    <textarea name="query" rows="6" class="ui-input w-full p-3 rounded-xl" placeholder="SELECT * FROM users LIMIT 10"></textarea>
    <button type="submit" class="ui-button primary m">Выполнить</button>
</form>
{% if error %}
<div class="ui-text error mt-4">{{ error }}</div>
{% endif %}
{% if result %}
<div class="ui-heading s mt-6">Результат:</div>
<div class="table-wrapper">
    <table class="result-table">
        <thead>
            <tr>
                {% for key in result[0].keys() %}
                <th>{{ key }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in result %}
            <tr>
                {% for val in row.values() %}
                <td>{{ val }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}
{% endblock %}