{% extends "base.html" %}
{% block title %}Отзывы{% endblock %}
{% block hero_title %}Отзывы{% endblock %}
{% block content %}
<div class="ui-vstack gap-24">
    {% for review in reviews %}
    <div class="review-card">
        <div class="ui-hstack justify-between">
            <div class="ui-heading s primary">{{ review.name }} {{ review.surname }}</div>
            <div class="ui-text semibold">
                <img src="{{ url_for('static', filename='icons/golden_star.svg') }}" width="20" height="20" style="vertical-align: middle;"> {{ review.rating }}
            </div>
        </div>
        <p class="ui-text gray mt-2">{{ review.comment }}</p>
        <div class="ui-text xs gray mt-2">{{ review.created_at.strftime('%d.%m.%Y') }}</div>
    </div>
    {% else %}
    <div class="ui-text gray center">Отзывов пока нет</div>
    {% endfor %}
</div>
{% endblock %}